#searchTerm{

    width: 80%;
}

#flag{

    width: 50%;
    height: auto;
}

.countryCard{

    margin-top: 100px;
}

#temp{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    
}

.imgCol{
    text-align: center;
}

.description{
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: -10px;

}

p{
    font-size: 20px;
}

#covidH1, #Images{
    text-align: center;
}
.redHead{
    background-color: red;
}

.greenHead{
    background-color: green;
}

.covidCard, #ImagesCard{
    margin-top: 50px;
}

.container{

    /* margin-bottom: 20%;
    margin-top: 5%; */
    margin: 0% auto;
}

.history{
    height: 100%;
    background-color: rgb(225, 228, 228);

}
.articles{
    height: 100%;
    background-color: rgb(225, 228, 228);
    margin-right: 0px;
}

.float{
    float: left;
}

.child{
    float: left;
}


.right{
    float:right;
    clear: left;
}

.half{
    width: 50%;
}

.parent-row{
    overflow: hidden;
    margin: 0px auto;
}

.weather{
    width: 1160%;
    margin: 0px 10%;
    background-color: rgb(225, 228, 228);
}
.form{
    width: 50%;
    margin: 0px auto;
}

#dropdownMenuButton{
    border: solid gray 1px;
}

#search-term{
    width: 25%
}

