html, body{
    height: 100%;
    width: 100%;

}





#home{
    background: url(./ball.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    

}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.formCard{
    background-color: transparent;
    border: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.form-control{
    background-color: transparent;
    border: 1px solid #417192 ;
}

.exploreH3{
    color: #417192;
    font-family: 'Pacifico', cursive;
    margin-bottom: 30px;
    
}

.exploreH1{
   
    font-family: 'Anton', sans-serif;
    margin-bottom: 70px;
    font-size: 50px;
    color: white;
}

.padding{
    padding: 80px 0;

}

#fixed{
    background: url(./person.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin-bottom: 150px;
    margin-top: 150px;
}





.card-header{
    background-color: transparent;
    
}




.countryTextDiv{
   
height: 460px;
margin-bottom: auto;
margin-top: auto;
background-color: #D9EDF7 ;
color: #417192 ;
border-radius: 15px;
  
    
}

.countryTextItems{
    vertical-align: middle;  
    padding-left: 50px;
    padding-top: 70px;
   font-size: 40px;
}

#flag{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#countryName{
    
    color: #417192;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    margin-top: 30px;
    border-radius: 15px;
   }


.countryCard{
    border: none;
    margin-top: 100px;
}

.countryHeader{
    border: none;
    margin-bottom: 50px;
    border-bottom: 5px dotted #417192 ;
    font-family: 'Modak', cursive;
    
}


#temp{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 900;
    
}

.imgCol{
    text-align: center;
}

.description{
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: -10px;
    font-weight: 900;
   
}

#city, .currentDate{
    font-weight: 900;

}

p{
    font-size: 20px;
    
}

.covidCard{
    margin-top:30px;
    border: none; 
    border-radius: 15px;
}

.red{
    background-color: #EED2D2 ;
    color: #A94442 ;  
}
.yellow{
    background-color: #FAF3D2 ;
    color: #917544 ;  
}
.blue{
    background-color: #D9EDF7 ;
    color: #417192 ;  
}
.green{
    background-color: #DDEFD6 ;
    color: #3C763D ;  
}







.info{

    margin-right: 20px;
    color: #417192;
}
.goHeader{
    text-align: center;
    color:  #3C763D ; 
    border: none;
    margin-bottom: 50px;
    font-family: 'Anton', sans-serif;
}

.readme{
    margin-right: 20px;
    color: #417192;

}

.readH2{
    color: #417192 ;
    text-align: center;
}

.watchH2{
    color: #A94442;
    text-align: center;
    
}

.youtube{
    color:#A94442 ;
    margin-right: 20px;
}

.videoHeader{
    border: none;
    border-bottom: 5px dotted #A94442;
}

.readHeader{
    border: none;
    border-bottom: 5px dotted #417192;
}

.videoP{
    margin-top: 20px;
    background-color:#EED2D2;
    color: #A94442 ;
    font-weight: 700;
   
}

.readP{
    margin-top: 20px;
    background-color:#D9EDF7;
    color: #417192 ;
    font-weight: 700;

}



.size {
    height: auto;
    width: 30%;
    transition: transform .2s;
};  

.size:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}



.videosImg{
    height: auto;
    width: 30%;
    transition: transform .2s;

}

.videosImg:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

#videoCard, #readCard{
    border: none;
text-align: center;
}

.goCard{
    border: none;
}


#images{
    text-align: center;
    color: #3C763D ;
    font-family: 'Anton', sans-serif;
}
 #results img{
    padding: 20px; 
}

.place{
    padding-right: 20px;
    color: #417192;
}
#ImagesCard{
    background-color:#D9EDF7 ;
    border: none;
    margin-bottom: 500px;
    margin-top: 100px;
}
#ImagesHeader{
    border: none;
}

footer{
    background-color: #417192;
    font-family: 'Anton', sans-serif;
}