html, body{
    height: 100%;
    width: 100%;

}
#home{
    background: url(./ball.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    

}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.formCard{
    background-color: transparent;
    border: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.form-control{
    background-color: transparent;
    border: 1px solid #28A745 ;
}

.exploreH3{
    color: #218838;
    font-family: 'Pacifico', cursive;
    
}

.exploreH1{
    color: white;
    font-family: 'Anton', sans-serif;
}

.padding{
    padding: 80px 0;

}

#fixed{
    background: url(./person.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}









#flag{

    width: 100%;
    height: auto;
}

.countryCard{

    margin-top: 100px;
}

#temp{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    
}

.imgCol{
    text-align: center;
}

.description{
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: -10px;

}

p{
    font-size: 20px;
}

#covidH1, #Images{
    text-align: center;
}
.redHead{
    background-color: red;
}

.greenHead{
    background-color: green;
}

.covidCard, #ImagesCard{
    margin-top: 50px;
}

.container{
    margin-bottom: 20%;
    margin-top: 5%;
}

.videoP{
    margin-top: 20px;
    background-color:rgba(245, 11, 34, 0.5);
}


.videosImg{
    height: auto;
    width: 30%;
    transition: transform .2s;

}

.videosImg:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

#videoCard{
    margin-top: 50px;
    text-align: center;
}


#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }


.size {
    height: 300px;
    width:400px;
};  

